header {
    height: 88px;
}


#argentinaProgramaLogo {
    margin-bottom: 0;
}

#banner {
    background-color: #9DE3F6;
    height: 645px;
}

.bannerRow {
    height: 600px;
}

#presentation {
    height: 291px;
    border: 1px solid black;
}