header {
    height: 88px;
}


#argentinaProgramaLogo {
    margin-bottom: 0;
}

#banner {
    height: 600px;
    background-image: url('../img/banner_portfolio.jpg');
}

#bannerRow {
    height: 600px;
}

#profilePic {
    height: 250px;
    width: 250px;
}

#presentation {
    height: 242px;
    background-color: #DEFFFB;
}

#namePosition {
    height: 242px;
    background-color: #82D8CE;
}

#introduction  {
    height: 242px;
    
}