/* First Page: NavBar, Banner and Presetation */

header {
    height: 88px;
}

#argentinaProgramaLogo {
    margin-bottom: 0;
}

#banner {
    height: 600px;
    background-image: url('../img/banner_portfolio.jpg');
}

#profilePic {
    height: 150px;
    width: 150px;
}

#presentation {
    height: 242px;
    background-color: #DEFFFB;
}

.namePosition {
    height: 242px;
    background-color: #82D8CE;
}

#introduction  {
    height: 242px;
}

/* Second Page: Experience */

#experience {
    background-color: #DEFFFB;
}


.sectionTitle {
    height: 88px;
}

.logos {
    height: 200px;
    width: 200px;
    padding: 0;
}

.workplacesTitles {
    height: 80px;
}

/* Third Section: Education */

.logos100 {
    height: 100px;
    width: 100px;
    padding: 0;
}

/* Fourth Section: Hard & Soft Skills */